@keyframes vex-fadein {
    0% { opacity: 0; }

    100% { opacity: 1; }
}

@-webkit-keyframes vex-fadein {
    0% { opacity: 0; }

    100% { opacity: 1; }
}

@-moz-keyframes vex-fadein {
    0% { opacity: 0; }

    100% { opacity: 1; }
}

@-ms-keyframes vex-fadein {
    0% { opacity: 0; }

    100% { opacity: 1; }
}

@-o-keyframes vex-fadein {
    0% { opacity: 0; }

    100% { opacity: 1; }
}

@keyframes vex-fadeout {
    0% { opacity: 1; }

    100% { opacity: 0; }
}

@-webkit-keyframes vex-fadeout {
    0% { opacity: 1; }

    100% { opacity: 0; }
}

@-moz-keyframes vex-fadeout {
    0% { opacity: 1; }

    100% { opacity: 0; }
}

@-ms-keyframes vex-fadeout {
    0% { opacity: 1; }

    100% { opacity: 0; }
}

@-o-keyframes vex-fadeout {
    0% { opacity: 1; }

    100% { opacity: 0; }
}

@keyframes vex-rotation {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes vex-rotation {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-moz-keyframes vex-rotation {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-ms-keyframes vex-rotation {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-o-keyframes vex-rotation {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.vex, .vex *, .vex *:before, .vex *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.vex {
    -webkit-overflow-scrolling: touch;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1111;
}

.vex-scrollbar-measure {
    height: 50px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
    width: 50px;
}

.vex-overlay {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    background: #000;
    filter: alpha(opacity=40);
}

.vex-overlay {
    -moz-animation: vex-fadein 0.5s;
    -ms-animation: vex-fadein 0.5s;
    -o-animation: vex-fadein 0.5s;
    -webkit-animation: vex-fadein 0.5s;
    -webkit-backface-visibility: hidden;
    animation: vex-fadein 0.5s;
    background: rgba(0, 0, 0, 0.4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.vex.vex-closing .vex-overlay {
    -moz-animation: vex-fadeout 0.5s;
    -ms-animation: vex-fadeout 0.5s;
    -o-animation: vex-fadeout 0.5s;
    -webkit-animation: vex-fadeout 0.5s;
    -webkit-backface-visibility: hidden;
    animation: vex-fadeout 0.5s;
}

.vex-content {
    -moz-animation: vex-fadein 0.5s;
    -ms-animation: vex-fadein 0.5s;
    -o-animation: vex-fadein 0.5s;
    -webkit-animation: vex-fadein 0.5s;
    -webkit-backface-visibility: hidden;
    animation: vex-fadein 0.5s;
    background: #fff;
}

.vex.vex-closing .vex-content {
    -moz-animation: vex-fadeout 0.5s;
    -ms-animation: vex-fadeout 0.5s;
    -o-animation: vex-fadeout 0.5s;
    -webkit-animation: vex-fadeout 0.5s;
    -webkit-backface-visibility: hidden;
    animation: vex-fadeout 0.5s;
}

.vex-close:before {
    content: "\00D7";
    font-family: Arial, sans-serif;
}

.vex-dialog-form { margin: 0; }

.vex-dialog-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    text-rendering: optimizeLegibility;
}

.vex-loading-spinner {
    -moz-animation: vex-rotation 0.7s linear infinite;
    -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    -ms-animation: vex-rotation 0.7s linear infinite;
    -o-animation: vex-rotation 0.7s linear infinite;
    -webkit-animation: vex-rotation 0.7s linear infinite;
    -webkit-backface-visibility: hidden;
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    animation: vex-rotation 0.7s linear infinite;
    background: #fff;
    bottom: 0;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    height: 2em;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 2em;
    z-index: 1112;
}

body.vex-open { overflow: hidden; }