@model TikTokCalendar.DAL.ModelDataWrapper

@{
    EventUserStatHandler EUSH = new EventUserStatHandler();
}

<script type="text/javascript">
			jQuery(function () {
				jQuery('.activator.usersgoing').BAToolTip({
				    tipOpacity: 0.9,
				    tipOffset: 20
				});
			})
		</script>

@*@if (!EUSH.UserGoing(EUSH_global.ID_ATM))
{
    <input type="hidden" name="eventid" value="@EUSH_global.ID_ATM" />
    <input type="submit" value="Skal" />
}*@
<div class="tip-item">
    <span class="activator usersgoing">[@EUSH.HowManyUsersGoing(EUSH_global.ID_ATM) skal]</span>
    <div class="tip usersgoing">
        @foreach (var eus in Model.eventUserStats)
        {
            if (eus.EventID == EUSH_global.ID_ATM)
            {
                <span>
                    @if (EUSH.UserAttending(EUSH_global.ID_ATM))
                    {
                        <span>&#10004;</span>
                    }
                    @eus.UserName<br />
                </span>
            }
        }
    </div>
</div>
@if (EUSH.UserGoing(EUSH_global.ID_ATM))
{
    <strong>Du skal.</strong>
}
else if (EUSH.UserAttending(EUSH_global.ID_ATM))
{
    <strong>Innsjekket &#10004;</strong>
}