@model TikTokCalendar.DAL.ModelDataWrapper

@{
    EventUserStatHandler EUSH = new EventUserStatHandler();
}
<div style="display:none"> <!-- this is strange but needed -->
    <script>
        $(function () {
            $('.activator.usersgoing').BAToolTip({
                tipOpacity: 0.9,
                tipOffset: 20
            });
        })
    </script>
</div>

@if (EUSH.UserAttending(EUSH_global.ID_ATM))
{
<strong>Innsjekket &#10004;</strong>
}
else if (EUSH.UserGoing(EUSH_global.ID_ATM))
{
    <strong>Du skal.</strong>
}

<!-- hover box displaying users -->
<div class="tip-item">
    <span class="activator usersgoing">[@EUSH.HowManyUsersGoing(EUSH_global.ID_ATM) skal]</span>
    <div class="tip usersgoing">
        @foreach (var eus in Model.eventUserStats)
        {
            if (eus.EventID == EUSH_global.ID_ATM)
            {
                <span>
                    @if (EUSH.UserAttending(EUSH_global.ID_ATM))
                    {
                        <span>&#10004;</span>
                    }
                    @eus.UserName<br />
                </span>
            }
        }
    </div>
</div>