@model TikTokCalendar.DAL.ModelDataWrapper
@{
    ViewBag.Title = "Rooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>

	<ul>
	@{ 
		foreach (var room in Model.Rooms) {
			<li>@room.RoomName</li>
		}
	}
	</ul>

	<a class="btn btn-info" data-toggle="modal" data-target="#vis-rom-modal">Åpne modal</a>

	<!-- Ledige rom modal -->
	<div class="content-hidden modal fade" id="vis-rom-modal" role="dialog">
		<div class="modal-dialog" style="width: 900px; max-width: 100%; margin-top: 160px;">
			<div class="modal-content">

				<!-- Modal header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					Ledige rom
				</div>

				<!-- Modal body -->
				<div class="modal-body" style="margin: 0;">
					<table id="" class="table table-bordered table-hover rooms-available">
						<tr>
							<th>Rom</th>
							<td>
								<div class="progress">
									<div class="progress-bar" role="progressbar" style="width:10%">8:15</div>
									<div class="progress-bar" role="progressbar" style="width:10%">9:15</div>
									<div class="progress-bar" role="progressbar" style="width:10%">10:15</div>
									<div class="progress-bar" role="progressbar" style="width:10%">11:15</div>
									<div class="progress-bar" role="progressbar" style="width:10%">12:15</div>
									<div class="progress-bar" role="progressbar" style="width:10%">13:15</div>
									<div class="progress-bar" role="progressbar" style="width:10%">14:15</div>
									<div class="progress-bar" role="progressbar" style="width:10%">15:15</div>
									<div class="progress-bar" role="progressbar" style="width:10%">16:15</div>
									<div class="progress-bar" role="progressbar" style="width:10%">17:15</div>
								</div>
							</td>
						</tr>
						<tr>
							<th>Vrimle</th>
							<td>
								<div class="progress">
									<div class="progress-bar progress-bar-danger" role="progressbar" style="width:10%">8:15</div>
									<div class="progress-bar progress-bar-success" role="progressbar" style="width:10%">9:15</div>
									<div class="progress-bar progress-bar-danger" role="progressbar" style="width:10%">10:15</div>
									<div class="progress-bar progress-bar-success" role="progressbar" style="width:10%">11:15</div>
									<div class="progress-bar progress-bar-danger" role="progressbar" style="width:10%">12:15</div>
									<div class="progress-bar progress-bar-success" role="progressbar" style="width:10%">13:15</div>
									<div class="progress-bar progress-bar-danger" role="progressbar" style="width:10%">14:15</div>
									<div class="progress-bar progress-bar-success" role="progressbar" style="width:10%">15:15</div>
									<div class="progress-bar progress-bar-danger" role="progressbar" style="width:10%">14:15</div>
									<div class="progress-bar progress-bar-success" role="progressbar" style="width:10%">15:15</div>
								</div>
							</td>
						</tr>
						<tr>
							<th>Auditoriet</th>
							<td>
								<div class="progress">
									<div class="progress-bar progress-bar-danger" role="progressbar" style="width:40%">8:15-12:00</div>
									<div class="progress-bar progress-bar-success" role="progressbar" style="width:10%">12:15-13:00</div>
									<div class="progress-bar progress-bar-danger" role="progressbar" style="width:30%">13:15-16:00</div>
									<div class="progress-bar progress-bar-success" role="progressbar" style="width:10%">16:15-17:00</div>
									<div class="progress-bar progress-bar-danger" role="progressbar" style="width:10%">17:15-18:00</div>
								</div>
							</td>
						</tr>
						<tr>
							<th>Rom 79-80</th>
							<td>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" style="width:20%"></div>
									<div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%"></div>
									<div class="progress-bar progress-bar-success" role="progressbar" style="width:20%"></div>
									<div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%"></div>
									<div class="progress-bar progress-bar-success" role="progressbar" style="width:20%"></div>
									<div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%"></div>
								</div>
							</td>
						</tr>
						<tr>
							<th>Rom 83</th>
							<td>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" style="width:70%"></div>
									<div class="progress-bar progress-bar-success" role="progressbar" style="width:10%"></div>
									<div class="progress-bar progress-bar-success" role="progressbar" style="width:10%"></div>
									<div class="progress-bar progress-bar-success" role="progressbar" style="width:10%"></div>
								</div>
							</td>
						</tr>
						<tr>
							<th>Rom 40</th>
							<td>
								<div class="progress">
									<div class="progress-bar progress-bar-danger" role="progressbar" style="width:40%"></div>
									<div class="progress-bar progress-bar-success" role="progressbar" style="width:10%"></div>
									<div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%"></div>
									<div class="progress-bar progress-bar-danger" role="progressbar" style="width:30%"></div>
								</div>
							</td>
						</tr>
						<tr>
							<th>Rom 41</th>
							<td>
								<div class="progress">
									<div class="progress-bar progress-bar-danger" role="progressbar" style="width:40%"></div>
									<div class="progress-bar progress-bar-success" role="progressbar" style="width:10%"></div>
									<div class="progress-bar progress-bar-danger" role="progressbar" style="width:30%"></div>
									<div class="progress-bar progress-bar-success" role="progressbar" style="width:10%"></div>
									<div class="progress-bar progress-bar-danger" role="progressbar" style="width:10%"></div>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

					@*
						<table class="table table-bordered table-hover rooms-available">
							<tr>
								<th>Rom</th>
								<th>Ledig tid</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
							<tr>
								<th>Vrimle</th>
								<td>08:15 - 11:30</td>
								<td>15:30 - 24:00</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th>Auditoriet</th>
								<td>08:15 - 24:00</td>
								<td></td>
								<td>08:15 - 11:30</td>
								<td>08:15 - 11:30</td>
							</tr>
							<tr>
								<th>Rom 79-80</th>
								<td>08:15 - 11:30</td>
								<td>15:30 - 24:00</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th>Rom 83</th>
								<td></td>
								<td>15:30 - 24:00</td>
								<td>08:15 - 11:30</td>
								<td>15:30 - 24:00</td>
							</tr>
							<tr>
								<th>Rom 40</th>
								<td>08:15 - 11:30</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th>Rom 41</th>
								<td>08:15 - 24:00</td>
								<td></td>
								<td>08:15 - 11:30</td>
								<td></td>
							</tr>
						</table>
					*@

</main>