
@{
    ViewBag.Title = "Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <table class="table table-bordered table-hover rooms-available">
        <tr>
            <th>Rom</th>
            <th>Ledig tid</th>
            <th></th>
            <th></th>
            <tr></tr>
        </tr>
        <tr>
            <th>Vrimle</th>
            <td>08:15 - 11:30</td>
            <td>15:30 - 24:00</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Auditoriet</th>
            <td>08:15 - 24:00</td>
            <td></td>
            <td>08:15 - 11:30</td>
            <td>08:15 - 11:30</td>
        </tr>
        <tr>
            <th>Rom 79-80</th>
            <td>08:15 - 11:30</td>
            <td>15:30 - 24:00</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Rom 83</th>
            <td></td>
            <td>15:30 - 24:00</td>
            <td>08:15 - 11:30</td>
            <td>15:30 - 24:00</td>
        </tr>
        <tr>
            <th>Rom 40</th>
            <td>08:15 - 11:30</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Rom 41</th>
            <td>08:15 - 24:00</td>
            <td></td>
            <td>08:15 - 11:30</td>
            <td></td>
        </tr>
    </table>
</main>