.content-hidden .modal-dialog {
	width: 400px;
}

.content-hidden .modal-left {
	
}

.content-hidden .modal-right {
	float: right;
}

.content-hidden .info-rows {
	margin-top:  5px;
	margin-bottom:  5px;
}

.content-hidden .modal-header, .vex-dialog-message {
	
	font-size: 1.5em;
	text-align: center;
}

.content-hidden .modal-content {
	box-shadow: none;
	border: 0;
	border-radius: 5px;
	background-color: #f0f0f0;
	
}

.modal-backdrop {
	background-color: #333;
}