/*==========================================
  Makes it easier to read if you know that:
    Everything with 'i' is icons
    Everything with 'p' is text

    
  GLOBAL SETTINGS 
===================================*/
html, body {
    background-color: #F5F6F8 !important;
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    -webkit-font-smoothing: antialiased;
}

main {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 54px;
}

    main .main-body {
        margin: 20px;
    }

footer {
    text-align: center;
}

/*===================================
  N A V B A R
==========================================*/

header {
    background-color: white;
    padding-top: 5px;
    width: 100%;
    position: fixed;
    top: 0px;
    border-bottom: 0.5px solid #E3E3E3;
    height: 44px;
    z-index: 1;
}

.header-content {
    margin: 0 auto; 
    max-width: 900px;
    height: 44px;
    position: relative;
}

header .ui-widget {
    float: right;
    margin-left: 10px !important;
}

header i.fa-calendar-check-o {
    float: left;
    margin-top: 2px;
    color: #6A7586;
    font-size: 25px;
    margin-left: 20px;
    height: 30px;
    width: 30px;
}

header p {
    color:#6A7586;
    font-size: 19px;
    float: left;
    padding-top: 7px;
    padding-left: 10px;
}

header .login-button {
    opacity: 0.5;
    color: #474f5c;
    float: right;
    margin-right: 20px;
    font-size: 32px;
    margin-top: 2px;
}

@media only screen and (min-width: 768px) {

    .navbar-left {
        margin-top: 10px;
        margin-left: 20px;
    }

    .navbar-left i.fa-calendar-check-o {
        font-size: 32px;
    }

    .navbar-left p {
        font-size: 27px;
    }
}

/*===================================
  M O D A L
===================================*/

.vex-dialog-button, vex-dialog-buttons {
    width: 100%;
}


/*===================================
  M O N T H
===================================*/

.feed {
    max-width: 594px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.feed-month, month-month {
    background-color: #699df1;
	margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px 3px 0px 0px;
    width: 100%;
    display: block;
    cursor: pointer;
    text-decoration: none !important;
}

.week-header {
	background-color: #99cdf1;
	padding: 5px;
	text-align: center;
	margin-top: 8px;
	color: #fff;
}

.feed-week {
	
}

.week, .week p {
    background-color: #8DB3f1;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 19px !important;
}

.feed-month p {
    text-align: center;
    color: white;
    opacity: 0.9;
    font-size: 22px;
    font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.feed-month p:hover {
    text-decoration: none;
}

/*===================================
  E V E N T   F E E D
===================================*/

.feed-container {
    color: #474f5c;
    height: 80px;
    background-color: white;
    border-radius: 0px 0px 3px 3px;
    display: block;
    cursor: pointer;
}

.today {
	background-color: #ff0000;
}

.feed-container .class-date {
    width: 60px;
    height: 100%;
    float: left;
    position: relative;
    margin-right: 15px;
}

/* Top left row:   13 */
.feed-container .class-date .date-number {
    margin-left: 12px;
    font-size: 23px;
    color: #a4b0c3;
    font-weight: normal;
    float: left;
}

@media (min-width: 768px) {
    .modal-dialog {
        margin-top: 160px;
    }
}

.modal-header {
    font-size: 1.5em;
}

.feed-container .content {
    width: 100%;
    height: 80%;
    padding-top: 17px;
}

.feed-container .content .class-info {
    width: 90%;
    height: 50%;
    margin: 0 auto;
}

/* Top middle row:   Mattematikk og Fysikk */
.feed-container .content .class-info p.name {
    float: left;
    color: #6a7586;
    font-size: 19px;
    font-weight: normal;
}

/* Positioning for top row right:   Rom 40*/
.feed-container .content .class-info .right-position {
    float: right;
    margin-top: 4px;
}


/* Top row right:  Rom 40   */
.feed-container .content .class-info .right-position i, .feed-container .content .class-info .right-position p {
    float: left;
    color: #6a7586;
    font-weight: 400;
    font-size: 14px;
}

/* Bottom row:  man, 12.15 - 16.00                       ...*/
.feed-container .content .time-info {
    width: 77%;
    height: 50%;
    margin: 0 auto;
    color: #474f5c;
    font-weight: 300;
    font-size: 18px;
    float: right;
    margin-right: 30px;
}



.feed-container .content .time-info {
    margin-top: 10px;
}

/*======================================
  SPECIAL BOXES FOR SPECIAL EVENTS
=======================================*/
.exam, .assignment {
    color: white !important;
    display: inline-block;
    border-radius: 2px;
    margin-left: 14px;
	margin-right: 10px;
    padding: 4px;
}


.exam {
    background: -webkit-linear-gradient(top, #DD1B16, #A6120D);
}


.assignment {
    background: -webkit-linear-gradient(top, #fbb450, #f89406);
}


.feed-container .content .time-info .left-position {
    float: left;
}

.feed-container .content .time-info .left-position i, .feed-container .content .time-info .left-position p {
    float: left;
    color: #858f9f;
    font-weight: 300;
    font-size: 14px;
}

.feed-container .content .time-info .left-position i strong, .feed-container .content .time-info .left-position p strong {
    color: #6a7586;
    font-weight: 400;
    font-size: 14px;
}

.feed-container .content .time-info i.fa-ellipsis-h {
    float: right;
    color: #858f9f;
    font-weight: 300;
    font-size: 14px;
    margin-top: 5px;
}

.check-in {
	float: right;
	font-size: 14px;
	opacity: initial;
}

.check-in * {
	display: inline;
}

.check-in input {
	background-color: #3288e6;
	color: #fff;
	border-radius: 2px;
	border: 0;
	padding: 0.3em;
	font-family: "Helvetica Neue", sans-serif;
	text-transform: uppercase;
	font-size: 0.8em;
}

/*======================================
  LINE SEPARATING EVENTS
=======================================*/
.horizontal-line:not(:last-child) {
    display: block;
    width: 82%;
    float: right;
    border-bottom: 0.5px solid #dce0e0;
}

@media only screen and (max-width: 500px) {

    div.class-date {
        width: 27px !important;
    }

        div.class-date .date-number {
            font-size: 20px !important;
        }

    .horizontal-line {
        width: 82%;
    }

    p.name {
        font-size: 15px !important;
        color: #474f5c;
        font-weight: 300;
        font-size: 18px;
    }
}

@media only screen and (max-width: 400px) {

    div.class-date .date-number {
        font-size: 15px !important;
        padding: 0px;
    }

    p.name {
        font-size: 13px !important;
        color: #474f5c;
        font-weight: 300;
        font-size: 18px;
    }
}

/*
	TOOLTIP AND COUNTDOWN
*/

.activator {
    cursor: default;
}

.tip-item {
    position: relative;
}

.tip {
    font-size: 12px;
    display: none;
    width: auto;
    height: auto;
    background-color: #FFF;
    padding: 6px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    /*border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;*/
    box-shadow: 0px 0px 4px 0px #000;
    -moz-box-shadow: 0px 0px 4px 0px #000;
    -webkit-box-shadow: 0px 0px 4px 0px #000;
}

.countdown {
    color: #3879E2;
}

.ongoing {
    color: #e28138;
}

.usersgoing {
    font-size: 12px;
}

/*======================================
  SEARCH (JQUERY-UI REPLACEMENT )
=======================================*/

#tags {

    max-width: 250px;
    padding: 3px 0 4px 30px;
    border-radius: 20px;
    border: 1px solid #e4e4e4;
    margin-left: 7px;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-position: 5px 6px;
    background-size: 20px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
}

.ui-corner-all {
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 10px;
}

.ui-widget-content {
    border: 1px solid #DCDCDC;
    border-top: none;
    background-color: #FFF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.ui-widget {
    font-size: 18px;
    margin-top: -17px;
}

.ui-menu {
    display: block;
    float: right;
    list-style: none outside none;
    margin: 0;
    padding: 4px;
}

.ui-autocomplete .ui-menu-item.ui-corner-all {
    background-color: #DCDCDC;
    border: none;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
    background-color: #DCDCDC;
    color: #000;
    border: none;
}

.ui-autocomplete {
    cursor: default;
    position: fixed;
    font-size: 12px;
    color: #626974;
}
.ui-autocomplete-input {
    height: 33px;
}

.ui-menu .ui-menu-item {
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 2px;
}

    .ui-menu .ui-menu-item a {
        display: block;
        padding: 3px 3px 3px 3px;
        text-decoration: none;
        cursor: cell;
    }

        .ui-menu .ui-menu-item a:hover {
            display: block;
            padding: 3px 3px 3px 3px;
            text-decoration: none;
            color: White;
            cursor: pointer;
        }

.ui-widget-content a {
    color: #222222;
}