/*==========================================
  Makes it easier to read if you know that:
    Everything with 'i' is icons
    Everything with 'p' is text


  N A V B A R
==========================================*/
header {
  background-color: #F5F6F8;
  margin-top: 10px;
  opacity: 0.8;
  width: 100%;
  overflow: hidden;
}

header i.fa-calendar-check-o {
  float: left;
  margin-top: 2px;
  color: #DD1B16;
  font-size: 25px;
  margin-left: 20px;
  height: 30px;
  width: 30px;
}

header p {
  font-family: "AvenirNextLTPro-UltLt", "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
  color: #474f5c;
  font-size: 19px;
  float: left;
  padding-top: 7px;
  padding-left: 10px;
}

header .login-button {
    opacity: 0.5;
    color: #474f5c;
    float: right;
    margin-right: 20px;
    font-size: 32px;
    margin-top: 2px;
}

@media only screen and (min-width: 768px) {
  
  .navbar-left {
    margin-top: 10px;
    margin-left: 20px;
  }

  .navbar-left i.fa-calendar-check-o {
    font-size: 32px;
  }

  .navbar-left p {
    font-size: 27px;
  }
}

/*===================================
  GLOBAL SETTINGS 
===================================*/
html, body {
  background-color: #F5F6F8 !important;
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


main {
  max-width: 600px;
  margin: 0 auto;
}

main .main-body {
  margin: 20px;
}

/*===================================
  M O N T H
===================================*/

.feed-month:not(:first-child) {
  margin-top: 70px;
}


.feed {
  max-width: 594px;
  margin: 0 auto;
}


.feed-month {
  background-color: #3879E2;
  margin-bottom: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px 3px 0px 0px;
}

.feed-month p {
  text-align: center;
  color: white;
  opacity: 0.9;
  font-size: 22px;
  font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

/*===================================
  E V E N T   F E E D
===================================*/
.feed-container {
  color: #474f5c;
  height: 80px;
  background-color: white;
  border-radius: 0px 0px 3px 3px;
}

.feed-container .class-date {
  width: 60px;
  height: 100%;
  float: left;
  position: relative;
  margin-right: 15px;
}

.feed-container .class-date .date-number {
  margin-left: 7px;
  font-size: 28px;
  color: #2a303a;
  text-align: center;
  font-weight: normal;
  margin-top: 25px;
}

.feed-container .content {
  width: 100%;
  height: 80%;
  padding-top: 17px;
}

.feed-container .content .class-info {
  width: 90%;
  height: 50%;
  margin: 0 auto;
}

.feed-container .content .class-info p.name {
  float: left;
  color: #2a303a;
  font-size: 19px;
  font-weight: normal;
}

.feed-container .content .class-info .right-position {
  float: right;
  margin-top: 4px;
}

.feed-container .content .class-info .right-position i, .feed-container .content .class-info .right-position p {
  float: left;
  color: #6a7586;
  font-weight: 400;
  font-size: 14px;
}

.feed-container .content .time-info {
  width: 90%;
  height: 50%;
  margin: 0 auto;
  color: #474f5c;
  font-weight: 300;
  font-size: 18px;
}

/*======================================
  SPECIAL BOXES FOR SPECIAL EVENTS
=======================================*/
.exam, .assignment {
  color: white !important;
  display: inline-block;
  border-radius: 2px;
  margin-left: 14px;
  padding: 4px;
}


.exam {
  background: -webkit-linear-gradient(top, #DD1B16, #A6120D);
}


.assignment {
  background: -webkit-linear-gradient(top, #fbb450, #f89406);
}


.feed-container .content .time-info .left-position {
  float: left;
}

.feed-container .content .time-info .left-position i, .feed-container .content .time-info .left-position p {
  float: left;
  color: #858f9f;
  font-weight: 300;
  font-size: 14px;
}

.feed-container .content .time-info .left-position i strong, .feed-container .content .time-info .left-position p strong {
  color: #6a7586;
  font-weight: 400;
  font-size: 14px;
}

.feed-container .content .time-info i.fa-ellipsis-h {
  float: right;
  color: #858f9f;
  font-weight: 300;
  font-size: 14px;
  margin-top: 5px;
}

/*======================================
  LINE SEPARATING EVENTS
=======================================*/
.horizontal-line {
  display: block;
  width: 87%;
  float: right;
  border-bottom: 0.5px solid #dce0e0;
}

@media only screen and (max-width: 500px) {

    div.class-date {
        width: 27px !important;
    }

    div.class-date .date-number {
        font-size: 20px !important;
    }
  .horizontal-line {
    width: 82%;
  }

  p.name {
    font-size: 15px !important;
    color: #474f5c;
    font-weight: 300;
    font-size: 18px;
  }
}

@media only screen and (max-width: 400px) {
    
    div.class-date .date-number {
        font-size: 15px !important;
        padding: 0px;
    }

    p.name {
        font-size: 13px !important;
        color: #474f5c;
        font-weight: 300;
        font-size: 18px;
  }
}