/*==========================================
  Makes it easier to read if you know that:
    Everything with 'i' is icons
    Everything with 'p' is text

    
  GLOBAL SETTINGS 
===================================*/
html, body {
    background-color: #F5F6F8 !important;
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    -webkit-font-smoothing: antialiased;
}

main {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 70px;
}

main .main-body {
    margin: 20px;
}

footer {
    text-align: center;
}

/*===================================
  NAVBAR
==========================================*/

header {
    /*background-color: #FffffF;*/

    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0));
    background: -webkit-linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0));
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 2;
    font-size: 12px !important;
    /*box-shadow: 0 2px 1px -2px gray;*/
}

hr.grad-line { 
    border: 0; 
    height: 1px;
    position: relative;
    margin: 0;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 62%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 62%);
    background: radial-gradient(center, ellipse cover, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 62%);
}

.header-content {
    max-width: 1000px;
    margin: 0 auto; 
    height: 57px; /*51*/
    margin-top: -10px;
    position: relative;
}

header a i.fa-calendar-check-o {
    float: left;
    margin-top: 12px;
    color: #FF5A5F;
    font-size: 28px;
    margin-left: 20px;
}

header p {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#8C95A2;
    font-size: 10px;
    float: left;
    padding-top: 15px;
    padding-left: 0;
}

/* Logout */
header .header-content .right-1 {
    height: 100%;
    float: right;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding-top: 10px;
    padding-right: 19px;
    padding-left: 19px;
}

/* Logout icon */
header .header-content .right-1 i {
    color: #AAAAAA;
    margin-top: 3px !important;
}

/* Logout link */
header .header-content .right-1 a {
     color: #AAAAAA;
     text-decoration: none;
}

header .header-content .right-1 p {
    padding-top: 10px;
}

/* Username */
header .header-content .right-2 {
    padding-right: 19px;
    margin-top:    10px;
    border-radius: 20px;
    height:        40px;
    position:      relative;
    float: right;
    cursor: pointer;
}

header .header-content .right-2 a {
    color: #AAAAAA;
    text-decoration: none;
    font-size: 10px; 
}

header .header-content .right-2 .right-1 p {
    margin-top: -3px;
    font-size: 12px;
    color: #aaa;
}

header .header-content .right-2 i {
    display: none;
}

/* Left container */
header .header-content .left-1 {
    width: 67px;
    height: 100%;
    float: left;

}

/* Calendar icon */
header .header-content .left-1 i {
    opacity: 0.9;
    padding-top: 7px;
    padding-left: 1px;
}

/* Search container */
header .header-content .left-2 {
    width: 200px;
    height: 45px;
    float: left;
    margin-top: 8px;
    border-radius: 50px;
}

/* Search */
#tags {
    margin-bottom: 15px;
}

/*=======================================
    FILTER CLASS, ASSIGNMENT & EXAM
=======================================*/

.filter-container {
     position: relative;
     left: 20px;
     top: 20px;
     float: left;

}
.filter-container label {
    color: #aaa;
    margin-top: 0px;
    font-size: 11px;
    font-weight: 300;
    line-height: 1.9em;
}

.filter-container label span {
   display: inline-block;
   vertical-align: middle;
   margin-top: 3px;
   margin-left: 3px;
   margin-right: 9px;
}

.filter-container input[type="checkbox"] {
    width: 18px;
    height: 18px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-appearance: initial;
}

.filter-container input[type="checkbox"]:nth-chil(1) {
    margin-left: 15px;
}

.filter-container input[type="checkbox"].schoolClass {
    background-color: rgba(173,212,156,0.6);
}

.filter-container input[type="checkbox"].assignment {
    background-color: rgba(255,207,81, 0.6);

}

.filter-container input[type="checkbox"].exam {
    background-color: rgba(255,90,95, 0.6);
}

.filter-container input[type="checkbox"]:checked:after
{
    margin-left: 3px;
    content: "✓";  
    color: #333;
}


input.filter {
    color: black;
    float: left;
    width: 50px;
}

.rooms-available {
    background-color: white;
}

/*===================================
  CHECK IN
===================================*/
.check-in [class^="going-"] {
    visibility: hidden;
}

input [class^="going-"]{
    border: 1px solid #70e670;
}

/*===================================
  MODAL
===================================*/
.vex-dialog-button, vex-dialog-buttons {
    width: 100%;
}

.input-year {
    height: 20px;
    width: 50px;
    background-color: #474f5c;
    color: white;
}

input[type="radio"]:checked + label {
 
}

.vex-dialog-button {
    margin-top: 3px !important;
}

/*===================================
  LOGIN-MODAL
===================================*/

#login-modal .modal-dialog {
	width: 450px;
	max-width: 100%;
	margin-top: 160px;
}

#login-modal input {
	margin-bottom: 5px;
	border: 0;
}

#login-modal .btn {
	font-variant: small-caps;
	font-family: "Helvetica Neue", sans-serif;
	border: 0;
}

#login-modal btn-login {
	background-color: rgb(50, 136, 230);
}

#login-modal btn-free-rooms {
	margin-top: 5px;
	background-color: rgb(240, 240, 240);
}

#login-modal .modal-body {
	margin-left: 10px;
	margin-right: 10px;
}

#login-modal .modal-body * {
	font-size: 16px;
}

/*===================================
  COOKIE INFORMATION/WARNING
===================================*/

#cookie-warning {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 500px;
	/*background-color: rgb(105, 157, 241);*/
	background-color: #444;
	padding: 15px;
	margin: 0;
	color: #FFF;
	border-radius: 3px 0 0 0;
}

#cookie-warning p {
	font-size: 1em;
	margin-bottom: 0;
}

#cookie-warning .close {
	color: #FFF;
}

/*===================================
  MONTH
===================================*/

.feed {
    max-width: 594px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.feed-month, month-month {
    background-color: #699df1;
	margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px 3px 0px 0px;
    width: 100%;
    display: block;
    cursor: pointer;
    text-decoration: none !important;
	position: relative;
}

.feed-month .badge {
	margin-right: 5px;
	margin-top: 1px;
	border-radius: 25px;
}

.feed-month .badge-container {
	position: absolute;
	right: 10px;
    opacity: 0.9;
    display: none;
}

.feed-month .badge-exam {
	background-color: #DF322E !important;
}

.feed-month .badge-assignment {
	background-color: #FFCF51 !important;
}

.feed-month .badge-lecture {

}

.week-header {
	background-color: #99cdf1;
	padding: 5px;
	text-align: center;
	margin-top: 8px;
	color: #fff;
    font-size: 15px;
}

.week-header:not(:first-child) {
    border-radius: 3px 3px 0px 0px;
}
.week, .week p {
    background-color: #8DB3f;
    padding-top: 1px;
    padding-bottom: 1px;
}


.feed-month p {
    text-align: center;
    color: white;
    opacity: 0.9;
    font-size: 18px;
    font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
	z-index: 1;
}

.feed-month p:hover {
    text-decoration: none;
}

/*===================================
  EVENT FEED
===================================*/
.feed-container {
    color: #474f5c;
    height: 75px;
    background-color: white;
    border-radius: 0px 0px 3px 3px;
    display: block;
    cursor: pointer;
    border-bottom: 1px solid #d4d8e5;
    border-left: 1px solid #e1e2ec;
    border-right: 1px solid #e1e2ec;
}

#today {
   animation: pulse 3s ease-in-out infinite;
}

.ongoing {
    animation: pulse 3s ease-in-out infinite;
}

@-webkit-keyframes pulse {
    0% {
        color: #6A7586;
    }
    50% {
       color: #FF5A5F;
    }
    100% {
       color: #6A7586;
    }
}

input[class^="going-"]:hover {
    background-color: #00bb3f;
    color: white;
    opacity: 0.7;
}

.feed-container {
  z-index: 1000;
}

.feed-container .class-date {
    width: 60px;
    height: 100%;
    float: left;
    position: relative;
    margin-right: 15px;
}

/* Top left row:   13 */
.feed-container .class-date .date-number {
    margin-left: 12px;
    font-size: 19px;
    color: #a4b0c3;
    font-weight: normal;
    float: left;
}

@media (min-width: 768px) {
    .modal-dialog {
        margin-top: 160px;
    }
}

.modal-header {
    font-size: 1.5em;
}

.feed-container .content {
    width: 100%;
    height: 80%;
    padding-top: 15px;
}

.feed-container .content .class-info {
    width: 90%;
    height: 50%;
    margin: 0 auto;
}

.feed-container .content .class-info .class-date {
    font-size: 12px;
}

/* Top middle row:   Mattematikk og Fysikk */
.feed-container .content .class-info p.name {
    float: left;
    color: #6a7586;
    font-size: 15px;
    font-weight: normal;
}

/* Positioning for top row right:   Rom 40*/
.feed-container .content .class-info .right-position {
    float: right;
    margin-top: 4px;
}


/* Top row right:  Rom 40   */
.feed-container .content .class-info .right-position i, .feed-container .content .class-info .right-position p {
    float: left;
    color: #6a7586;
    font-weight: 400;
    font-size: 12px;
}

/* Bottom row:  man, 12.15 - 16.00                       ...*/
.feed-container .content .time-info {
    width: 77%;
    height: 50%;
    margin: 0 auto;
    color: #474f5c;
    font-weight: 300;
    float: right;
    margin-right: 30px;
    position: relative;
}

.feed-container .content .class-info p.name {
    font-size: 15px !important;
}

.feed-container .content .time-info p.time {
    margin-top: 8px;
    font-size: 12px !important;
}

/*======================================
  SPECIAL BOXES FOR SPECIAL EVENTS
=======================================*/
.exam, .assignment {
    color: white !important;
    display: inline-block;
    border-radius: 2px;
    margin-left: 14px;
    padding: 4px;
}


.exam {
    background-color: #FF5A5F;
}


.assignment {
    background-color: #FFCF51;
}


.feed-container .content .time-info .left-position {
    float: left;
}

.feed-container .content .time-info .left-position i, .feed-container .content .time-info .left-position p {
    float: left;
    color: #858f9f;
    font-weight: 300;
    font-size: 14px;
}

.feed-container .content .time-info .left-position i strong, .feed-container .content .time-info .left-position p strong {
    color: #6a7586;
    font-weight: 400;
    font-size: 14px;
}

.feed-container .content .time-info .left-position i strong {
    font-size: 12px important;
}

.feed-container .content .time-info i.fa-ellipsis-h {
    float: right;
    color: #858f9f;
    font-weight: 300;
    font-size: 14px;
    margin-top: 5px;
}

.check-in {
	float: right;
	font-size: 14px;
}

.check-in * {
	display: inline;
}

.check-in input {
	color: #6a758;
	border-radius: 2px;
    margin-right: 7px;
    background-color: white;
    border: 1px solid #00bb3f;
	padding: 0.4em;
	font-family: "Helvetica Neue", sans-serif;
	text-transform: uppercase;
	font-size: 0.8em;
}

/*======================================
  LINE SEPARATING EVENTS
=======================================*/
.horizontal-line:not(:last-child) {
    display: block;
    width: 82%;
    float: right;
    border-bottom: 0.5px solid #dce0e0;
}


@media only screen and (max-width: 500px) {

    div.class-date {
        width: 27px !important;
    }

    div.class-date .date-number {
        font-size: 20px !important;
    }

    .horizontal-line {
        width: 82%;
    }

    p.name {
        font-size: 15px !important;
        color: #474f5c;
        font-weight: 300;
        font-size: 18px;
    }
}

@media only screen and (max-width: 400px) {

    div.class-date .date-number {
        font-size: 15px !important;
        padding: 0px;
    }

    p.name {
        font-size: 13px !important;
        color: #474f5c;
        font-weight: 300;
        font-size: 18px;
    }
}

/*======================================
	TOOLTIP AND COUNTDOWN
=======================================*/

.activator {
    cursor: pointer !important;
}

.activator {
    cursor: default;
    font-size: 11px;
    color: #a4b0c3;
}

.tip-item {
    position: relative;
}

.tip {
    font-size: 12px;
    display: none;
    width: auto;
    height: auto;
    background-color: #FFF;
    border-radius: 3px;
    padding: 6px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    /*border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;*/
    box-shadow: 0px 0px 1px 0px #888;
    -moz-box-shadow: 0px 0px 1px 0px #888;
    -webkit-box-shadow: 0px 0px 1px 0px #888;
}

.countdown {
    color: #3879E2;
}

/*======================================
  SEARCH (JQUERY-UI REPLACEMENT )
=======================================*/

#tags {
    max-width: 200px;
    padding: 3px 0 4px 30px;
    border-radius: 20px;
    border: 1px solid #e4e4e4;
    margin-left: 7px;
    margin-top: 8px;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-position: 5px 6px;
    background-size: 20px;
    font-family: Tahoma, Geneva, sans-serif;
     background-color: #ffffff !important;
    font-size: 16px;
}

.ui-corner-all {
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 10px;
}

.ui-widget-content {
    border: 1px solid #DCDCDC;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.ui-widget {
    font-size: 18px;
    margin-top: -17px;
}

.ui-menu {
    display: block;
    float: right;
    list-style: none outside none;
    margin: 0;
    padding: 4px;
}

.ui-autocomplete .ui-menu-item.ui-corner-all {
    background-color: #DCDCDC;
    border: none;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
    background-color: #DCDCDC;
    color: #000;
    border: none;
}

.ui-autocomplete {
    cursor: default;
    position: fixed;
    font-size: 12px;
    color: #626974;
}
.ui-autocomplete-input {
    height: 33px;
}

.ui-menu .ui-menu-item {
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 2px;
}

    .ui-menu .ui-menu-item a {
        display: block;
        padding: 3px 3px 3px 3px;
        text-decoration: none;
        cursor: cell;
    }

        .ui-menu .ui-menu-item a:hover {
            display: block;
            padding: 3px 3px 3px 3px;
            text-decoration: none;
            color: White;
            cursor: pointer;
        }

.ui-widget-content a {
    color: #222222;
}

/*======================================
  RANDOM STUFF
=======================================*/

/* special hide class */
.hide {
    display: none;
}

/* prevent line-break */
.no-linebreak {
    white-space: nowrap;
}

/* special "go to" class */

.goto {
    position: absolute;
    margin-top: -55px
}

/* show search results (event count) */

.results {
    position: relative;
    padding: 8px 14px;
    top: 28px;
    left: 26px;
    color: #aaa;
    font-weight: 300;
    font-size: 12px;
    height: 16px;
    width: 100%;
}