
//============================================
//      M O B I L
//============================================
@media screen and (max-width: 480px) {
    
    main {
        width: 100%;
    }

    main .main-body {
        margin: 0;
    }

    #tags {
        display: none;
    }

    header {
        display: none;
    }

    .feed-container {
        height: 200px;
    }

    .content {
        width: 80% !important;
        margin: 0 auto;

        p.date-number {
            display: none;
        }

        p.name.activator.tip-specific-class {
            font-size: 24px !important;
        }

        .right-position {
            float: left;
            clear: both;
        }

        p.room {
            font-size: 48px !important;
        }
    }
}