@media screen and (max-width: 480px) {
//============================================
//      M O B I L
//============================================
.mobile-main, html, body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	height: 100%;
	background-color: #f7f7f7;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

/*===================================
	N A V B A R
===================================*/
    i {
        padding-top: 6px !important;
        color: #8E8F94;
    }

    .header-desktop {
        display: none;
    }

    header {
        margin-bottom: 50px;
    }

    .mobile-navbar {
        width: 100%;
        height: 45px;
        background-color: #565a5c;
        border-bottom: 1px solid #F3f3f3;
        color: white;
    }

    .mobile-navbar-container {
        margin: 0 auto;
        width: 80%;
        height: 35px;
    }

    .mobile-navbar-logo {
        float: left;
    }

    .mobile-navbar-menu {
        float: right;
    }


    /*===================================
	E V E N T S
===================================*/

    .mobile-content {
        width: 90%;
        padding-bottom: 70px;
        background-color: #f7f7f7;
        margin: 0 auto;
    }


    .mobile-content-container {
        background-color: white;
        padding: 10px;
        border: 1px solid #899093;
        text-align: center;
        height: 70%;
        padding-bottom: 60px;
    }

    .mobile-content-container-inner {
        width: 80%;
        margin: 0 auto;
    }


    .mobile-course {
        padding-top: 30px;
        font-size: 1.6em;
        color: #858f9f;
        word-wrap: break-word;
        max-width: 10em;
        margin: 0 auto;
    }

    .mobile-room {
        padding-top: 20px;
        color: #565a5c;
    }

    .mobile-start {
        padding-top: 30px;
        color: #86b32d;
        font-weight: 500;
        line-height: 1.5em;
        font-size: 1.2em;
    }

    .mobile-date {
        padding-top: 30px;
        width: 100%;
        color: #565a5c;
        line-height: 1.5em;
        font-size: 1.2em;
    }

    button.mobile-checkin {
        font-size: 1em;
        margin-top: 50px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: .1em;
        line-height: 1em;
        padding: .75em 2em;
        border-radius: 3px;
        width: 100%;
        height: 50px;
        background: #67bf62;
        border: 1px solid #f3f3f3;
    }

    .button-container {
        margin: 0 auto 0;
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden;
        background: #fff;
    }

    .pulse-button {
        display: block;
        width: 100px;
        height: 100px;
        font-size: 1.3em;
        font-weight: light;
        font-family: 'Trebuchet MS', sans-serif;
        text-transform: uppercase;
        text-align: center;
        line-height: 100px;
        letter-spacing: -1px;
        color: white;
        border: none;
        border-radius: 50%;
        background: #5a99d4;
        cursor: pointer;
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
        -webkit-animation: pulse 1.5s normal;
    }

        .pulse-button:hover {
            -webkit-animation: none;
        }

    @-webkit-keyframes pulse {
        0% {
            -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }

        100% {
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -webkit-transform: scale(1);
            transform: scale(1);
            box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
        }
    }

    #bottom-fade {
        width: 100%;
        height: 100px;
        z-index: 99;
        position: fixed;
        bottom: 0px;
        background: url("../img/bottom-fade.png") bottom center no-repeat;
    }
}