@media screen and (max-width: 680px) {
    / 

    / 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    / 

    / 

    M O B I L / 

    / 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = 

    = .mobile-main, html, body {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        background-color: #f7f7f7;
        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        height: 100%;
        text-rendering: optimizeLegibility;
    }

    /*===================================
N A V B A R
===================================*/
    i {
        color: #8E8F94;
        padding-top: 1px !important;
    }

    .header-desktop { display: none; }

    header { margin-bottom: 50px; }

    .mobile-navbar {
        background-color: #699DF1;
        border-bottom: 2px solid #F3f3f3;
        color: white;
        height: 45px;
        width: 100%;
    }

    .mobile-navbar-container {
        height: 35px;
        margin: 0 auto;
        width: 100%;
    }

    .mobile-navbar-logo { float: left; }

    /*===================================
M E N U
===================================*/

    /* The menu header */
    .mobile-navbar-menu {
        float: right;
        margin-top: 7px;
    }

    div.slicknav_menu {
        -webkit-box-shadow: 0 8px 6px -8px gray;
        background-color: #F5F6F8 !important;
        color: black !important;
    }

    /* Menu header color*/
    a.slicknav_btn.slicknav_open, a.slicknav_btn.slicknav_collapsed { background-color: #F5F6F8 !important; }

    span.slicknav_menutxt {
        display: none;
        visibility: hidden;
    }

    /* Menu items */
    .menu-items {
        color: #858f9f !important;
        font-size: 1.125em !important;
        padding: 13px;
    }

    /* Duplicate text outside of menu */
    ul#menu li { visibility: hidden; }

    /* Maps */
    .map-image {
        max-height: 200px;
        width: 150px;
    }

    /*===================================
E V E N T S
===================================*/

    .mobile-content {
        background-color: #f7f7f7;
        margin: 0 auto;
        padding-bottom: 70px;
        width: 90%;
    }


    .mobile-content-container {
        background-color: white;
        border: 1px solid #899093;
        height: 380px;
        text-align: center;
    }

    .mobile-content-container-inner {
        margin: 0 auto;
        width: 80%;
    }

    .mobile-date-top {
        background-color: #99CDF1;
        color: white;
        height: 20px;
        letter-spacing: .1em;
        line-height: 0em;
        padding: 1.3em;
        text-transform: uppercase;
        width: 100%;
    }

    .mobile-course {
        color: #858f9f;
        font-size: 1.6em;
        font-weight: 300;
        margin: 0 auto;
        max-width: 10em;
        padding-top: 10px;
        word-wrap: break-word;
    }

    .mobile-room {
        color: #565a5c;
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: center;
    }


    .mobile-date {
        color: #565a5c;
        font-size: 1.2em;
        line-height: 1.5em;
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100%;
    }

    button.mobile-checkin {
        background: #67bf62;
        border: 1px solid #f3f3f3;
        border-radius: 3px;
        color: #fff;
        font-size: 1em;
        height: 30px;
        letter-spacing: .1em;
        line-height: 0.4em;
        padding: .75em 2em;
        padding-top: 15px;
        text-transform: uppercase;
        width: 100%;
    }

    .button-container {
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        background: #fff;
        margin: 0 auto 0;
    }

    .pulse-button {
        -webkit-animation: pulse 1.5s normal;
        background: #5a99d4;
        border: none;
        border-radius: 50%;
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
        color: white;
        cursor: pointer;
        display: block;
        font-family: 'Trebuchet MS', sans-serif;
        font-size: 1.3em;
        font-weight: light;
        height: 100px;
        letter-spacing: -1px;
        line-height: 100px;
        text-align: center;
        text-transform: uppercase;
        width: 100px;
    }

    .pulse-button:hover { -webkit-animation: none; }

    @-webkit-keyframes pulse {
        0% {
            -moz-transform: scale(0.95);
            -ms-transform: scale(0.95);
            -webkit-transform: scale(0.95);
            transform: scale(0.95);
        }

        100% {
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -webkit-transform: scale(1);
            box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
            transform: scale(1);
        }
    }

    #bottom-fade {
        background: url("../img/bottom-fade.png") bottom center no-repeat;
        bottom: 0px;
        height: 100px;
        position: fixed;
        width: 100%;
        z-index: 99;
    }
}