.modal-dialog {
    color: #6A7586;
    max-width: 560px;
    margin: 0 auto;
    margin-top: 54px;
}

.modal-body {
    border-top: 1px solid #cfcfcf;
    margin-left: 50px;
    margin-right: 50px;
}

.info-rows {
    height: 40px;
}

.info-rows:first-child {
    margin-top: 20px;
}

.modal-left {
    float: left;
    width: 120px;
}

.modal-left strong {
    font-weight: normal;
}

.modal-right {
    float: left;
}

.vex-dialog-input form {
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.vex-dialog-input label {
    font-size: 16px;
    font-weight: normal;
}

.vex-dialog-input input {
    float: left;
}

form .class-box {
    width: 33%;
    float: left;
}