@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TickTock</h1>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Velkommen til super kalenderen TickTock</h2>
        <p>
            Kalenderen gir oversikt over alt som skjer på skolen.
        </p>
    </div>
</div>