<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tiktokcal - NotFound</title>
</head>
<body>
    <div>404 page not found.</div>
    <a href="~Home/Index">Go back to the main page</a>
</body>
</html>
